* { margin: 0; padding: 0; outline: none; }

body {
	padding: 40px;
	font: 0.9em "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	margin-bottom: .4em;
}

a { color: #4080FF; }
a:hover { color: #FF6020; }
